<div data-controller="modal" data-modal-disable-backdrop="true">
  <button class="bg-yellow-200 mr-2 p-2 half-sized-element rounded text-xs" data-action="click->modal#open"><i class="fas fa-info-circle"></i> Elements</button>
  

  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="fixed top-0 left-0 w-full h-full relative">
      <!-- Modal Card -->
      <div class="w-screen h-screen bg-white">
        <div class="flex flex-wrap justify-center items-center h-screen">
          <div class="m-auto">

            <h1 class="text-lg text-center mb-5">Element Descriptions</h1>

            <%= render partial: "descriptions", locals: {element: 'spirit', description: "Pros: Meditation, Prayer, Mental Work, Physical Stillness <br /> Cons: Business, Love <br /> Warnings: Everything that begins with Akash will fail"} %>
            <%= render partial: "descriptions", locals: {element: 'air', description: "Pros: Mental Work, Simple and fast businesses <br /> Cons: Marriage, Businesses that are complex and of long duration <br /> Warnings: Everything that is velocity and motion."} %>
            <%= render partial: "descriptions", locals: {element: 'fire', description: "Pros: Work intensely <br /> Cons: Argue, Marriage <br /> Warnings: Be aware, accidents happen here"} %>
            <%= render partial: "descriptions", locals: {element: 'earth', description: "Pros: Party, Lecture, Appointments, Business, Eat and drink, Marriage.  This is the Tattva of success in life, love, charity, benevolence."} %>
            <%= render partial: "descriptions", locals: {element: 'water', description: "Pros: Business, Purchase Merchandise, Lottery, Concentrating and attracting, Journeys by Water <br /> Warnings: Emotions may be stronger during this Tattva."} %>

            <div class="flex justify-end items-center flex-wrap mt-6">
              <button class="btn btn-primary" data-action="click->modal#close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
