<div data-controller="location" data-lat-value="" data-lng-value="" class="<%= @app %>-bg max-w-screen-xl mx-auto" data-location-app-value="<%= @app %>">

  <h1 class="flex flex-col items-center justify-center py-5 text-2xl font-bold"><%= app_title %></h1>
  <%= render(partial: 'window_lens_buttons') %>

  <%= render(partial: @app) %>


</div>