<div data-controller="location" data-lat-value="" data-lng-value="">

  <div class="m-0 p-0 w-full">
    <%= render(partial: 'overlaps') %>
    <%= render(partial: 'day') %>
    <div class="flex flex-wrap w-full">
      <%= render(partial: 'sun') %>
      <%= render(partial: 'moon') %>
    </div>
  </div>

  <%= render partial: "descriptions", locals: {element: 'moon', description: "Emotional outbursts, emotional vulnerability, emotional conversation, close relatives, the family home, his home, spouse, intuitive knowledge, cleaning, dairy products, white"} %>
  <%= render partial: "descriptions", locals: {element: 'mars', description: "Impulsivity, willpower, men's conversations, men's time, spontaneous action, thrills, masculine approach, fast action, sports, spicy foods, hot foods, red"} %>
  <%= render partial: "descriptions", locals: {element: 'mercury', description: "Superficial attitude, the desire of a new, easy communication, easy promises, talks about the trips, a successful trade, instability, ease in everything, salads, light food, mixed color"} %>
  <%= render partial: "descriptions", locals: {element: 'jupiter', description: "Generosity, strengthening personal qualities, business meetings, talks on the theme of work, social activities, work in general, deeds for the benefit of others, double damage from the habits, blue"} %>
  <%= render partial: "descriptions", locals: {element: 'venus', description: "Hypersensitivity, the need for beauty, women's time, a declaration of love, beauty in everything, do everything beautiful, beautiful gift, favorite foods, sweets, milk color"} %>
  <%= render partial: "descriptions", locals: {element: 'saturn', description: "Self-restraint, increased restraint, reticence, short conversation, clarifying relationships, older people, cheap shopping, objective planning, starvation, minimal food intake, dark colors, dull colors"} %>
  <%= render partial: "descriptions", locals: {element: 'sun', description: "Manifestation of maximalism, a royal behaviour, high-profile people, intangible pleasures, creative time, unconventional approach, all unusual, new dishes, orange, the color of gold"} %>
</div>
